@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #24272e;
}

header {
  background: white;
  padding: 5px;
}

header > h1 {
  color: #25272e;
  text-align: center;
  font-family: "Press Start 2P", sans-serif;
}

.score-board {
  border: 3px solid white;
  width: 250px;
  margin: 28px auto;
  padding: 15px 20px;
  color: white;
  font-size: 40px;
  border-radius: 4px;
  text-align: center;
  font-family: "Press Start 2P", sans-serif;
  position: relative;
}

.badge {
  background: #e2584d;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
  font-family: "Press Start 2P", sans-serif;
}

#user-label {
  position: absolute;
  top: 17px;
  left: -50px;
}

#computer-label {
  position: absolute;
  top: 17px;
  right: -50px;
}

.result {
  font-size: 25px;
  font-family: "Press Start 2P", sans-serif;
  color: white;
}

.result > p {
  text-align: center;
  font-weight: bold;
}

.choices {
  margin-top: 50px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.choice {
  border: 4px solid white;
  border-radius: 50%;
  padding: 20px;
  margin: 0 15px;
  transition: all 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  background: #e2584d;
}

#action-message {
    margin-top: 50px;
  text-align: center;
  color: white;
  font-family: "Press Start 2P", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

footer{
    font-family: "Press Start 2P", sans-serif;
    color: white;
    text-align: left;
    margin:70px 0 0 30px;
}

.green-glow{
    border: 4px solid #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
}

.red-glow{
    border:4px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
}

.gray-glow{
    border: 4px solid #464647;
    box-shadow:0 0 10px #25292b;
}