@charset "UTF-8";

body{
    background-color: white ;
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    text-align: center;
    padding: 1rem;
    margin-top: 7rem;
}

.container h1{
    color: white;
    padding: .5rem;
    background-color: aqua;
    width: 10rem;
    display:inline-block ;
    border-radius: 25px;
    font-size: 2.5rem;
}

#value{
    font-size: 5rem;
    color:rgb(20, 82, 90);
}

.button-container .btn{
    padding: .5rem;
    cursor: pointer;
    border-radius: 10px;
    margin: .5rem;
    border: 2px solid black;
    transition: 1s;
}

.button-container .btn:hover{
    color:white;
    background-color: black;
}