* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

.button {
    font-size: 20px;
    border-radius: 50%;
    position: absolute;
    top: 40vh;
    bottom: 0;
    right: 0;
    left: 0;
    display: block;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    background: rgb(220, 28, 226);
    border: none;
    transition: 1.2s background;
    color: white;
}

.button:hover {
    background: rgba(219, 21, 226, 0.7);
    cursor: pointer;
}

.button:focus {
    border: 0 none;
    outline-style: none;
}